.claude/
src/
web/images/*
!web/images/.gitkeep
web/vendor/
build/initramfs/
build/initramfs.list
build/repo/
build/shim/*
!build/shim/i686-linux-gnu-gcc
*.tar.xz
*.tar.bz2
*.tar.gz
*.cpio
*.cpio.gz
*.o
*.a
